# Theoretical Questions

#Q1  What are data structures, and why are they important?
**Data structures** are specialized formats for organizing, processing, and storing data in a computer so that it can be used efficiently. Common data structures include arrays, lists, stacks, queues, trees, and graphs.

They are important because:
- They provide a way to manage large amounts of data efficiently.
- They help in optimizing algorithms and solving problems faster.
- Different data structures are suited for different kinds of applications and tasks (e.g., searching, sorting, or managing hierarchical data).
---

#Q2 Explain the difference between mutable and immutable data types with examples
**Mutable** data types can be changed after creation, while **immutable** data types cannot be changed once they are created.

Examples:
- **Mutable:** `list`, `dict`, `set`

  a = [1, 2, 3]

  a[0] = 10  # List is changed

Immutable: int, float, str, tuple

  s = "hello"

  s[0] = 'H'  # This will raise an error

---

#Q3 What are the main differences between lists and tuples in Python

- **Mutability:** Lists are mutable, tuples are immutable.
- **Syntax:** Lists use square brackets `[]`, tuples use parentheses `()`.
- **Performance:** Tuples are slightly faster than lists because of immutability.
- **Use Case:** Tuples are used when data should not change (e.g., coordinates), while lists are used when data is expected to change (e.g., shopping cart items).

Example:

my_list = [1, 2, 3]

my_tuple = (1, 2, 3)

---

#Q4 Describe how dictionaries store data

Dictionaries in Python store data as key-value pairs using a **hash table** internally. Each key is hashed to generate a unique index in the table, and the corresponding value is stored at that index.

Example:

student = {"name": "Alice", "age": 22}

---
#Q5 Why might you use a set instead of a list in Python

You might use a **set** instead of a **list** when:
- You want to store only unique values (sets automatically remove duplicates).
- You need to perform set operations like union, intersection, or difference efficiently.
- You want faster membership checks (`in` operator is faster for sets).

Example:

nums = [1, 2, 2, 3]

unique_nums = set(nums)  # {1, 2, 3}

---

#Q6 What is a string in Python, and how is it different from a list

A **string** is an immutable sequence of characters, while a **list** is a mutable sequence of elements.

Differences:
- Strings are used for text, lists for general-purpose collections.
- Strings cannot be modified in place; lists can.

Example:

s = "hello"

s[0] = "H"  # Error

lst = ['h', 'e', 'l', 'l', 'o']

lst[0] = 'H'  # Allowed

---
#Q7 How do tuples ensure data integrity in Python

Tuples are **immutable**, which means once they are created, their content cannot be changed. This property makes them ideal for storing data that should not be modified, such as:
- Database records
- Fixed configuration values
- Coordinates

Immutability ensures the integrity of the data across different parts of the program, preventing accidental changes.

---
#Q8 What is a hash table, and how does it relate to dictionaries in Python
A **hash table** is a data structure that maps keys to values using a **hashing function**. The key is processed into a hash code, which determines where to store the value in memory.

In Python, **dictionaries** are implemented using hash tables. This allows:
- Fast lookups
- Efficient insertions and deletions
- Unique and immutable keys

This internal structure makes dictionaries powerful for storing and accessing data quickly by key.

---
#Q9 Can lists contain different data types in Python
Yes, Python lists can contain elements of **different data types**, including integers, strings, floats, lists, dictionaries, and even functions or custom objects.

Example:

mixed_list = [1, "hello", 3.14, [1, 2], {"a": 1}]

---

#Q10 Explain why strings are immutable in Python

Strings in Python are **immutable** because:
- It ensures memory efficiency, especially when strings are reused.
- It enhances security when strings are shared across code (e.g., in keys or identifiers).
- It allows for safer hash-based operations, like using strings as dictionary keys.

Each time you modify a string, a new string object is created rather than changing the original.

---

#Q11 What advantages do dictionaries offer over lists for certain tasks

**Dictionaries** are better than lists when:
- You need fast lookup by a unique key.
- You want to store data with clear labels (like JSON).
- You want to avoid searching the entire list.

Example:

- Using list

users = [["John", 25], ["Alice", 30]]

- Using dict

users_dict = {"John": 25, "Alice": 30}

---
#Q12 How do sets handle duplicate values in Python

Sets automatically **remove duplicate values** when they are created or updated.

Example:

s = set([1, 2, 2, 3])

print(s)  
- Output: {1, 2, 3}

---
#Q13 Describe a scenario where using a tuple would be preferable over a list

Use a **tuple** when you have a fixed collection of items that should not change. For example:
- Storing coordinates: `(x, y)`
- Returning multiple values from a function
- Using compound keys in dictionaries

Example:

coordinates = (10.0, 20.0)  # Should remain unchanged

---
#Q14 How does the “in” keyword work differently for lists and dictionaries

- For **lists**, `in` checks whether an **element** exists in the list.
- For **dictionaries**, `in` checks whether a **key** exists.

Example:

lst = [1, 2, 3]

print(2 in lst)  # True

d = {"a": 1, "b": 2}

print("a" in d)  # True

print(1 in d)    # False (1 is a value, not a key)

---
#Q15 Can you modify the elements of a tuple? Explain why or why not

No, you cannot modify the elements of a tuple because **tuples are immutable** in Python.

Once a tuple is created, its elements cannot be changed, added, or removed. This makes them ideal for fixed collections.

t = (1, 2, 3)

t[0] = 10  # Raises TypeError

---
#Q16 What is a nested dictionary, and give an example of its use case

A **nested dictionary** is a dictionary where values are also dictionaries. This structure is useful for representing complex, hierarchical data.

Example:

student = {
    "name": "John",
    "marks": {
        "math": 90,
        "science": 85
    }
}

---
#Q17 Describe the time complexity of accessing elements in a dictionary

The average time complexity of accessing an element in a dictionary is **O(1)** (constant time), thanks to the underlying hash table implementation.

However, in rare cases of hash collisions, it can degrade to **O(n)**, but this is highly optimized in Python.

---
#Q18 In what situations are lists preferred over dictionaries

Lists are preferred over dictionaries when:
- You only need ordered, sequential data.
- You don’t need key-value pairs.
- The index-based access is sufficient.
- You need to maintain duplicates or order of elements strictly.

Examples: Processing arrays, implementing queues/stacks, sorting, or storing repeated values.

---
#Q19 Why are dictionaries considered unordered, and how does that affect data retrieval

In older Python versions (<3.7), dictionaries were unordered, meaning key-value pairs were not stored in insertion order. Since Python 3.7, dictionaries preserve insertion order, but they are still conceptually considered **unordered**.

This means:
- You should not rely on the position/index of keys.
- Retrieval is always by key, not by position.

Use lists if order and position matter.

---
#Q20 Explain the difference between a list and a dictionary in terms of data retrieval.

- **List:** Data is accessed by numeric **index**.

  my_list=[1,2,3,4]

  my_list[0]

- Dictionary: Data is accessed by key.

  my_dict = {
    "name": "John",

    "marks": {
        "math": 90,
        "science": 85
    }
  }

  my_dict["name"]

# Practical Questions

In [3]:
#1  Write a code to create a string with your name and print it
name="Nitin"
print(f"My Name is {name}")

My Name is Nitin

In [4]:
#2 Write a code to find the length of the string "Hello World".
string="Hello World"
print(len(string))

11

In [5]:
#3 Write a code to slice the first 3 characters from the string "Python Programming".
string="Python Programming"
print(string[0:3])

Pyt

In [7]:
#4 Write a code to convert the string "hello" to uppercase
string="hello"
new_string=string.upper()
print(new_string)

HELLO

In [20]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple"
string="I like apple"
string=string.replace("apple", "orange")
print(string)

I like orange

In [22]:
#6 Write a code to create a list with numbers 1 to 5 and print it
lis=[1,2,3,4,5]
for i in lis:
  print(i, end=" ")

1 2 3 4 5

In [23]:
# 7 Write a code to append the number 10 to the list [1, 2, 3, 4]
lis=[1,2,3,4]
lis.append(10)
print(lis)

[1, 2, 3, 4, 10]

In [24]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lis=[1,2,3,4,5]
lis.remove(3)
print(lis)

[1, 2, 4, 5]

In [25]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lis=['a', 'b', 'c', 'd']
print(lis[1])

b

In [26]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50].
lis=[10, 20, 30, 40, 50]
lis.reverse()
print(lis)

[50, 40, 30, 20, 10]

In [29]:
#11  Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup=(100, 200, 300)
print(tup)
# for i in tup:
#   print(i, end=" ")

(100, 200, 300)

In [32]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tup= ('red', 'green', 'blue', 'yellow')
print(tup[1:])

('green', 'blue', 'yellow')

In [37]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup=(10,20,5,15)
print(min(tup))

5

In [38]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup=('dog', 'cat', 'rabbit')
print(tup.index('cat'))

1

In [39]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tup=('apple', 'kiwi', 'orange')
print('kiwi' in tup)

True

In [40]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s={'a','b','c'}
print(s)

{'a', 'b', 'c'}

In [41]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s={1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [42]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s={1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [43]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1={1,2,3}
s2={3,4,5}
s3=s1.union(s2)
print(s3)

{1, 2, 3, 4, 5}

In [44]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1={1,2,3}
s2={2,3,4}
s3=s1.intersection(s2)
print(s3)

{2, 3}

In [45]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict={"name":"Nitin",
         "age":21,
         "city":"Delhi"
         }
print(my_dict)

{'name': 'Nitin', 'age': 21, 'city': 'Delhi'}

In [51]:
#  22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict={'name': 'John', 'age': 25}
my_dict.update({"country":"USA"})
# my_dict["country"]="USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'Usa'}

In [52]:
#23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict={'name': 'Alice', 'age': 30}
print(my_dict["name"])

Alice

In [54]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict.pop("age")
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [60]:
# 25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict={'name': 'Alice', 'city': 'Paris'}
print("city" in my_dict)
# keys=my_dict.keys()
# print("city" in keys)

True

In [61]:
#  26. Write a code to create a list, a tuple, and a dictionary, and print them all.
l=[1,2,3,4]
t=(1,2,3,4)
d={"one":1,
   "two":2,
   "three":3,
   "four":4}

print(l,t,d)

[1, 2, 3, 4] (1, 2, 3, 4) {'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [76]:
#27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
l=[]
for i in range(0,5):
  l.append(random.randint(1,100))

print(f"{l} # Unsorted")
l.sort()
print(f"{l} # Sorted")

[82, 73, 62, 86, 84] # Unsorted
[62, 73, 82, 84, 86] # Sorted

In [77]:
#28.  Write a code to create a list with strings and print the element at the third index.
l=["apple", "Banana","Orange","Guava","Kiwi"]
print(l[3])

Guava

In [81]:
#  29. Write a code to combine two dictionaries into one and print the result.
d1={"one":1,
   "two":2,
   "three":3,
   "four":4}
d2={"five":5,
   "six":6,
   "seven":7,
   "eight":8}

# d3=d1|d2
# print(d3)

d1.update(d2)
print(d1)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7, 'eight': 8}
{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7, 'eight': 8}

In [83]:
# 30. Write a code to convert a list of strings into a set.
l=["apple", "Banana","Orange","Guava","Kiwi","apple","Orange"]
s=set(l)
print(l)  # List
print(s)  # Set

['apple', 'Banana', 'Orange', 'Guava', 'Kiwi', 'apple', 'Orange']
{'Guava', 'Kiwi', 'Banana', 'Orange', 'apple'}